[submodule "sol-verifier/lib/forge-std"]
	path = sol-verifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sol-verifier/lib/b12-sol"]
	path = sol-verifier/lib/b12-sol
	url = https://github.com/prestwich/b12-sol
[submodule "sol-verifier/lib/memview-sol"]
	path = sol-verifier/lib/memview-sol
	url = https://github.com/summa-tx/memview-sol
